doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css", rel="stylesheet")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto|Varela+Round')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')


    style
      .inline-80
        display: inline-block
        width: 80px
  body
    nav.navbar.navbar-fixed-top
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#resNav")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") Company Logo
      .collapse.navbar-collapse#resNav
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/") Home
          li
            a(href="/property") Proprietes
          li
            a(href="#") Villes
          li
            a(href="#") Utilisateurs
          li
            a(href="#") Contact
    script(src="/javascripts/layoutScripts.js") 

    block content
